@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgba(211, 211, 211, 1);
    font-family: 'Kanit', sans-serif;
}

.header {
    display: flex;
    /* border: 1px solid red; */
    background-color: #262626;
    color: #fff;
}

.head-menu {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    /* border: 1px solid red; */
}


ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* border: 1px solid red; */
}

ul li {
    margin: 0 1rem;
    text-decoration: none;
}

ul li a {
    color: #707070;
    text-decoration: none;
}

.nav-links li a {
    position: relative;
    color: #707070;
    padding: 6px 0;
    text-transform: uppercase;
}

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background-color: #fff;
    transition: all 0.8s ease;
}

.nav-links li a:hover:before {
    width: 100%;
}

.nav-links>li:hover>a:before,
.nav-links>li.current>a:before {
    width: 100%;
}

.nav-links>li:hover>a,
.nav-links>li.current>a {
    color: #707070;
}

.nav-links>li:hover>a,
.nav-links>li.current>a {
    opacity: 1;
    color: #fff;
}

.nav-links a {
    color: #fff;
}




.footer {
    position: fixed;
    bottom: 0;
    /* ระยะห่างตัวหนัง */
    letter-spacing: 1px;
    /* ระยะห่างตัวหนังสือบนล่าง */
    line-height: 0.6;
    width: 100%;
    background-color: #262626;
    text-align: center;
    color: #fff;
}